<div class="background background-2"></div>

<h2><%= artist.name %></h2>
<div class="artist-show-row">
  <img class="artist-cover" src="<%= artist.coverImagePath %>" alt="" />
  <div class="artist-card-big-right-columns">
    <div class="artist-card-big-right-column">
      <p>Rating:</p>
      <p>Genre:</p>
      <p>Added at:</p>
    </div>
    <div class="artist-card-big-right-column">
      <span><%= artist.rating %>/10</span>
      <span><%= artist.genre %></span>
      <span
        ><%= artist.createdAt.toISOString().substring(0,
        artist.createdAt.toISOString().indexOf('T')) %></span
      >
    </div>
  </div>
  <a class="btn btn-edit" href="/artists/<%= artist.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/artists/${artist.id}` }) %>
</div>
<% if (songsByArtist.length > 0) { %>
<h2 class="page-header">Songs by Artist</h2>
<%- include('../partials/songGrid', { songs: songsByArtist, large : false }) %>
<% } %>
