<div class="form-row">
  <div class="form-item">
    <label for="">Title</label>
    <input type="text" name="title" value="<%= song.title %>" />
  </div>
  <div class="form-item">
    <label for="">Artist</label>
    <select name="artist">
      <% artists.forEach(artist => { %> <% if (artist.id === song.artist) {%>
      <option
        selected
        label="<%= artist.name %>"
        value="<%= artist.id %>"
      ></option>
      <%} else { %>
      <option label="<%= artist.name %>" value="<%= artist.id %>"></option>
      <% } %> <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label for="">Genre</label>
    <input type="text" name="genre" value="<%= song.genre %>" />
  </div>
  <div class="form-item">
    <label for="">Rating</label>
    <input
      type="number"
      name="rating"
      min="1"
      max="10"
      value="<%= song.rating %>"
    />
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label for="">Cover</label>
    <input type="file" name="cover" class="song-cover filepond" />
  </div>
</div>
