<h2>Search for Song</h2>
<form action="/songs" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="">Artist</label>
      <input type="text" name="artist" value="<%= searchOptions.artist %>" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="">Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label for="">Genre</label>
      <input type="text" name="genre" value="<%= searchOptions.genre %>" />
    </div>
    <div class="form-item">
      <label for="">rating</label>
      <input type="number" name="rating" value="<%= searchOptions.rating %>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br />
<div>
  <%- include('../partials/songGrid', { songs: songs, large : true }) %>
</div>
