<div class="form-row">
  <div class="form-item">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= artist.name %>" />
    <label for="">Genre</label>
    <input type="text" name="genre" value="<%= artist.genre %>" />
    <label for="">Rating</label>
    <input type="number" name="rating" value="<%= artist.rating %>" />
    <label for="">Cover Image</label>
    <input type="text" name="coverImage" value="<%= artist.coverImage %>" />
    <label for="">Albums</label>
    <input type="text" name="albums" value="<%= artist.albums %>" />
  </div>
</div>
