<div class="background background-2"></div>
<h2>Search for artist</h2>
<form action="/artists" method="GET">
  <div class="form-row-artist">
    <div class="form-item">
      <label for="">Name</label>
      <input type="text" name="name" />
    </div>
    <div class="form-item">
      <label for="">Genre</label>
      <input type="text" name="genre" />
    </div>
    <div class="form-item">
      <label for="">Rating</label>
      <input type="text" name="rating" />
    </div>
  </div>
  <div class="form-row-artist form-row-end">
    <button class="btn btn-find" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>
<div class="artist-grid-big">
  <% artists.forEach(artist => { %>
  <div class="artist-card-big">
    <img class="artist-cover" src="<%= artist.coverImagePath %>" alt="" />
    <div class="artist-card-big-right">
      <h3 class="artist-name"><%= artist.name %></h3>
      <div class="artist-card-big-right-columns">
        <div class="artist-card-big-right-column">
          <p>Rating:</p>
          <p>Genre:</p>
          <p>Added at:</p>
        </div>
        <div class="artist-card-big-right-column">
          <span><%= artist.rating %>/10</span>
          <span><%= artist.genre %></span>
          <span
            ><%= artist.createdAt.toISOString().substring(0,
            artist.createdAt.toISOString().indexOf('T')) %></span
          >
        </div>
      </div>

      <a class="btn btn-primary" href="/artists/<%= artist.id %>"
        >Edit / Delete</a
      >
    </div>
  </div>
  <% }) %>
</div>
